<article>
  <h2>У нас ви можете замовити</h2>
  <div class="products-collection">
    <div class="product-item">
      <img src="assets/images/1.png">
      <div class="product-desc">
        <p>Круасан із заварним кремом</p>
        <p><b>30.00 грн/шт</b></p>
      </div>
    </div>
    <div class="product-item">
      <img src="assets/images/choc-cake.png">
      <div class="product-desc">
        <p>Мафін "Шоколадний принц"</p>
        <p><b>20.00 грн/шт</b></p>
      </div>
    </div>
    <div class="product-item">
      <img src="assets/images/2.png">
      <div class="product-desc">
        <p>Булочки з родзинками</p>
        <p><b>40.00 грн/шт</b></p>
      </div>
    </div>
    <div class="product-item">
      <img src="assets/images/3.png">
      <div class="product-desc">
        <p>Класичний пончик</p>
        <p><b>44.00 грн/шт</b></p>
      </div>
    </div>
    <div class="product-item">
      <img src="assets/images/4.png">
      <div class="product-desc">
        <p>Хліб "Щедрий" Пшеничний</p>
        <p><b>50.00 грн/шт</b></p>
      </div>
    </div>
    <div class="product-item">
      <img src="assets/images/5.png">
      <div class="product-desc">
        <p>Фруктовий пиріг "Маленьке літо"</p>
        <p><b>36.00 грн/шт</b></p>
      </div>
    </div>
    <div class="product-item">
      <img src="assets/images/6.png">
      <div class="product-desc">
        <p>Чорничничне бісквітне печиво</p>
        <p><b>130.00 грн/кг</b></p>
      </div>
    </div>
    <div class="product-item">
      <img src="assets/images/7.png">
      <div class="product-desc">
        <p>Масляне печиво з малиновим джемом</p>
        <p><b>140.00 грн/кг</b></p>
      </div>
    </div>
  </div>
  <button class="btn">ЗАВАНТАЖИТИ ПОВНЕ МЕНЮ</button>
  <div class="line"></div>
</article>
