article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.form-container {
  padding: 40px;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.order-form {
  width: 30%;
  height: 440px;
  background-color: #FFF2E7;
  border-radius: 30px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.form-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.form-content p {
  font-size: 22px;
  text-align: center;
  margin-top: 0;
}

.field {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.field label {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #71451B;
  font-weight: 600;
  font-size: 22px;
}

.field input {
  border: solid #71451B 1px;
  border-radius: 10px;
  height: 50px;
  font-family: 'Montserrat';
  font-size: 20px;
}

.btn {
  margin-top: 20px;
  text-decoration: none;
  background-color: #945000;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Montserrat';
  font-weight: 500;
}

.btn:active {
  background-color: #673800;
}

.invalid-btn {
  background-color: #945000;
}

.btn:hover {
  cursor: pointer;
}

.form-confirmed {
  margin-top: 150px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .order-form {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .order-form {
    width: 70%;
  }
}
