<article id="menu">
  <h2>Категорії</h2>
  <div class="categories-container">
    <div class="category-item">
      <img src="assets/images/chocolate_cake.png" alt="cake">
      <h3>Торти</h3>
      <p>Розкіш справжнього свята - від класичних до ексклюзивних, у нас ви знайдете торт, який ідеально підійде для будь-якої події.</p>
    </div>
    <div class="category-item">
      <img src="assets/images/breakfast.png" alt="cake">
      <h3>Сніданок</h3>
      <p>Почніть свій день правильно з нашої чудової сніданкової випічки - ідеальних спільників для ранку, наповненого смаком.</p>
    </div>
    <div class="category-item">
      <img src="assets/images/walnut_muffins.png" alt="cake">
      <h3>Мафіни</h3>
      <p>Насолода в кожному куцику - свіжоспечені, з ароматом ванілі, шоколаду чи ягід, вони дарують тепло та затишок.</p>
    </div>
    <div class="category-item">
      <img src="assets/images/donuts.png" alt="cake">
      <h3>Пончики</h3>
      <p>Ідеальне кільце радості - до кави, чаю або просто так, щоб підняти настрій!</p>
    </div>
  </div>
  <div class="line"></div>
</article>
