<article id="about">
  <div class="title">
    <h2>Наші переваги</h2>
  </div>
  <div class="advantages-container">
    <div class="desc">
      <p>
        Наша пристрасна команда пекарів-експертів вкладає любов і досвід у кожне творіння, гарантуючи, що наша випічка
        буде чудовим доповненням будь-якої частини вашого дня.</p>
      <p>
        Від наших печей до вашого порогу - насолодіться зручністю швидкої та надійної доставки, що гарантує швидке
        задоволення ваших бажань.</p>
    </div>
    <div>
      <img src="assets/images/bakery.jpg" class="bakery-image" alt="bakery">
    </div>
  </div>
  <div class="line">
  </div>
</article>
