<header>
  <div>
    <div class="nav-buttons">
      <div>
        <img src="assets/images/logo.png" width="50">
      </div>
      <a class="nav-btn">Головна</a>
      <a class="nav-btn" href="#about">Переваги</a>
      <a class="nav-btn" href="#menu">Випічка</a>
      <a class="nav-btn">Відгуки</a>
      <a class="nav-btn" href="#footer">Зв'яжіться з нами</a>
    </div>
    <div class="main-info">
      <div class="bakery-desc">
        <h1>Ласкаво просимо до нашої пекарні</h1>
        <p class="info">
          Уявіть місце, де аромати запашної випічки захоплюють вас із першого вдоху. Де кожен шматочок ззовні - це
          витвір мистецтва, а всередині - насолода, що тане в роті. Це місце - <b>Хрустик</b>, ваш затишний куточок
          солодких мрій.</p>
      </div>
      <div class="bakery">
        <img src="assets/images/hero.png">
      </div>
    </div>
  </div>
</header>
