<footer id="footer">
  <div class="contact-container">
    <div class="contact-info">
      <h3>ЗВ'ЯЖІТЬСЯ З НАМИ</h3>
      <p>Якщо у вас залишились питання, зв'яжіться з нами за поштою <span>hrustyk.support@gmail.com</span></p>
      <p>вул. Ждановського 1, Чугуїв, Харківська область, Україна, 63500</p>
      <p class="contact">Vodafone: +380 (50) 026-32-21</p>
      <p class="contact">Київстар: +380 (97) 925-95-25</p>
      <p class="contact">Life: +380 (73) 254-25-23</p>
    </div>
    <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.192525159461!2d36.68843942688958!3d49.838839931211666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412715788a5b4ea1%3A0x4638cda881c30d72!2z0J_QtdGA0YjQsCDQn9C10LrQsNGA0L3Rjw!5e0!3m2!1sru!2sua!4v1706978108222!5m2!1sru!2sua"
            allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</footer>
