body {
  margin: 0;
  font-family: 'Montserrat';
}

h2 {
  font-size: 30px;
  color: #71451B;
  text-align: center;
}

.line {
  background-color: #fffaec;
  margin-top: 50px;
  padding-bottom: 30px;
  padding-top: 20px;
  width: 100%;
}
